
hopf_bifurcation/saddle_node_bifurcation.tex
hopf_bifurcation/hopf_bifurcation.tex
*.aux
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.ilg
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
thesis_ee800/outputs/main.aux
thesis_ee800/outputs/main.bbl
thesis_ee800/outputs/main.bcf
thesis_ee800/outputs/main.fdb_latexmk
thesis_ee800/outputs/main.fls
thesis_ee800/outputs/main.ilg
thesis_ee800/outputs/main.lof
thesis_ee800/outputs/main.log
thesis_ee800/outputs/main.lot
thesis_ee800/outputs/main.out
thesis_ee800/outputs/main.run.xml
thesis_ee800/outputs/main.synctex.gz
thesis_ee800/outputs/main.toc
